.end_game{
    height: 704px;
    width: 700px;
    z-index: 20;
    margin-top: -704px;
    visibility: hidden;
}
.end_game_background{
    position: absolute;
    height: 700px;
    width: 100%;
    background: black;
    opacity: 0.5;
}

.end_game_text{
    position: relative;
    font-family: "PressStart2P";
    color: white;
    font-size: 35px;
    margin:40% 10%;
}