.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    height: 20px;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom:-70px;
    z-index: 1;
}
.hp, .score,.exp {
    display: flex;
    align-items: center;
}
.hp__logo{
    display: flex;
    width: 40px;
    height: 40px;
    margin-right: 15px;
}
.hp__img{
    display: flex;
    height: 100%;
    
}
.hp__content, .hp__back, #hp__front,#hp__text{
    display:flex;
    flex-direction:column;
    width:200px;
    height:20px;
    position:relative;
    border-radius: 10px;
  }
.hp__back{   
    background-color:#fd7d7dba;
  }
#hp__front {
    background-color:#b80000e0; 
    position:absolute;
    z-index:1;
 
}
#hp__text {
    position:absolute;
    z-index:10;
    align-items: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* score */

#score__content{
    display: flex;
    width: 70px;
    height: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1.5px solid #d3d46ee0;
    background-color: #eabd6bc9;
    color: #151515;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}


/* exp */

#exp__status   {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1.5px solid #608ac7;
    color: #151515;
    background-color: #5e66cbd9;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

.exp__progres, .progres__back,.progres__front {
    display: flex;
    width: 100px;
    height: 20px;
    position: relative;
    background-color: #151515;
    border-radius: 10px;
}
.progres__front{
    display: flex;
    background-color: red;
    z-index: 1;
    
}
