#registration{
    display: flex;
    background-color: #383737;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.registration__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.registration__text{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#58bbcb;
}
.registration__content{
    margin-top: 20px;
    margin-bottom: 20px;
}
#registration__name{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #58bbcb;
    background-color: transparent;
    color: #cb9858;
    font-size: 17px;
    padding-left: 20px;
    
    padding: 10px;
}
#registration__name:focus{
    outline: none;
}
#registration__button{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #58bbcb;
    background-color: transparent;
    color: #58bbcb;
    padding: 10px;
    width: 100px
}